<!-- ============================= -->
<!-- PARTNERS SECTION -->
<!-- ============================= -->

<section class="partners-home">

    <div class="container partners-header">
        <h2>Our Partners</h2>
        <p>
            We collaborate with organisations who believe in strengthening
            civic infrastructure and local democratic practice.
        </p>
    </div>

    <div class="partners-marquee">

        <div class="partners-track">

            <!-- LOGO SET 1 -->
            <div class="partner-item">
                <img src="{{asset "images/mudito.png"}}" alt="Mudito">
            </div>

            <div class="partner-item">
                <img src="{{asset "images/oasis_logo.jpeg"}}" alt="Oasis">
            </div>

            <div class="partner-item">
                <img src="{{asset "images/T4GC_logo.png"}}" alt="Tech4Good Community">
            </div>

            <div class="partner-item">
                <img src="{{asset "images/design_logo.png"}}" alt="Tech4Good Community">
            </div>

            <!-- DUPLICATE SET FOR SMOOTH LOOP -->
            <div class="partner-item">
                <img src="{{asset "images/mudito.png"}}" alt="Mudito">
            </div>

            <div class="partner-item">
                <img src="{{asset "images/oasis_logo.jpeg"}}" alt="Oasis">
            </div>

            <div class="partner-item">
                <img src="{{asset "images/T4GC_logo.png"}}" alt="Tech4Good Community">
            </div>
            <div class="partner-item">
                <img src="{{asset "images/design_logo.png"}}" alt="Tech4Good Community">
            </div>

        </div>

    </div>

</section>