<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{asset "css/theme.css"}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset "css/hero.css"}}">
    <link rel="stylesheet" href="{{asset "css/problem.css"}}">
    <link rel="stylesheet" href="{{asset "css/insight.css"}}">
    <link rel="stylesheet" href="{{asset "css/our-work.css"}}">
    <link rel="stylesheet" href="{{asset "css/theory.css"}}">
    <link rel="stylesheet" href="{{asset "css/get-involved.css"}}">
    <link rel="stylesheet" href="{{asset "css/resource-library.css"}}">
    <link rel="stylesheet" href="{{asset "css/latest-news.css"}}">
    <link rel="stylesheet" href="{{asset "css/footer.css"}}">
    <link rel="stylesheet" href="{{asset "css/our-story.css"}}">
    <link rel="stylesheet" href="{{asset "css/get-involved-pages.css"}}">
    <link rel="stylesheet" href="{{asset "css/involved.css"}}">
    <link rel="stylesheet" href="{{asset "css/donate.css"}}">
    <link rel="stylesheet" href="{{asset "css/our-work-page.css"}}">
    <link rel="stylesheet" href="{{asset "css/page-get-involved.css"}}">
    <link rel="stylesheet" href="{{asset "css/page-resource-library.css"}}">
    <link rel="stylesheet" href="{{asset "css/partners-section.css"}}"
    {{ghost_head}}
</head>

<body class="{{body_class}}">

    {{> header}}

    <main class="site-main">
        {{{body}}}
    </main>

    {{> footer}}

    

    {{ghost_foot}}
<script src="{{asset "js/main.js"}}"></script>
<div class="nav-overlay"></div>

</body>
</html>
